
.services{
    width: 90vw;
    margin: 0 auto;
}
.columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 16px;
    margin: 0 auto;
}
.service__item{
    padding: 20px;
    background: var(--card-bg-01);
    border-radius: 4px;
    text-align: center;
}
.service__item p{
    font-size: .9rem;
    margin: 8px 0;
}
.service__item span i{
    font-size: 3rem;
}

@media(max-width:425px){
    .columns{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}