.containerRow{
    width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
}
@media(max-width: 425px){
    .containerRow {
        grid-template-columns: 1fr 1fr;
    }
}